include mixins/_classes.pug
include mixins/_grid.pug
include mixins/_remixicon.pug
include mixins/_scripts.pug

doctype html
html(lang=lang, data-theme=theme)
    head
        title KLR.monster
        block head
        link(rel='stylesheet', href='/css/critical.css')
    body
        article
            main
                block content

        link(rel='stylesheet', href='/css/non-critical.css')
        link(rel='stylesheet', href='//cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css')
        link(href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,400&display=swap", rel="stylesheet")
        
        +script('https://cdn.jsdelivr.net/gh/fivebyfive-se/orthogonal@0.5.7/dist/orthogonal.min.js', 'alpha')
        +script('https://cdn.jsdelivr.net/gh/fivebyfive-se/orthogonal@0.5.7/dist/orthogonal.extensions.min.js', 'beta')

        +renderScripts()
        
        block styles
        block scripts
