@include non-critical {
    .background-animation {
        @include position-fixed($top: 0, $left: 0, $z-index: -5);
        width: 100vw;
        height: 100vh;
        opacity: .8;
        pointer-events: none;

        svg path {
            mix-blend-mode: multiply;
        }
    }
}