@include critical {
    .details-view__details {
        display: none;
    }
}

@include non-critical {
    .details-view {
        @extend %flex,
            %flex--justify-flex-start;
        @include position-fixed($top: 0, $left: 0, $z-index: $z-index-top);

        $self: &;

        width: 100vw;
        height: 100vh;

        transform: translateY(100%);
        
        opacity: 0;
        transition: all .3s;
            
        background-color: var(--color-background-overlay);
        color: var(--color-text);


        @include desktop-only {
            &__text, &__image {
                height: 100vh;
                max-height: 100vh;
                flex-grow: 0;
            }
            &__text {
                @include flex-item-width($col-width * 5, true);
            }
            &__image {
                @include flex-item-width($col-width * 7, true);
            }
        }
        @include mobile-only {
            flex-direction: column;
            &__text, &__image {
                width: 100vw;
                max-width: 100vw;
            }
            &__text {
                height: 50vh;
                max-height: 50vh;
                flex-basis: 50%;
            }
            &__image {
                height: 50vh;
                max-height: 50vh;
                flex-basis: 50%;
            }
        }
        &__text {
            @extend %flex,
                %flex--column,
                %flex--align-flex-start,
                %flex--justify-flex-start;
            @include padding(2);
            overflow-y: auto;

            .caseitem__description {
                @include font(large, 400);
                @include margin-y(1, 2);
                margin-left: $col-width * 2;
            }

            iframe {
                width: 100%;
                height: 33vh;
            }
        }

        &__image {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }

        &--active {
            opacity: 1;
            transform: translateY(0);

            #{$self}__button {
                display: none;
            }
            #{$self}__details {
                display: block;
            }

            .close-button {
                @include position-fixed($right: size(2), $bottom: size(2), $z-index: $z-index-top);
                @include padding(.5);
                margin: 0;
            }
        }
    }
}