@include non-critical {
    .table-of-contents {
        @include position-fixed($bottom: 0, $right: 5%, $z-index: $z-index-menu);
        height: auto;
        width: 500px;
        background-color: var(--color-background);
        transform: translateY(100%);
        transition: transform .25s ease-in-out;

        .toc__header {
            @include padding(2);
            background-color: var(--color-background);
            height: 50px;
            margin-top: -50px;
        }
        .toc__list {
            @include padding(2);
            display: flex;
            flex-direction: column;
            .level--h2 {
                padding-left: 1em;
            }
            .level--h3 {
                padding-left: 2em;
            }
        }
        &.active {
            transform: translateY(0);
        }
    }
}