@include non-critical {
    @keyframes grow-width {
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }
    @keyframes unblur {
        0% {
            filter: blur($base-size) brightness(0.5);
        }
    
        100% {
            filter: blur(0) brightness(1);
        }
    }
    @keyframes blur-pulse {
      from {
         filter: blur(0);
      }
      5% {
         filter: blur($base-size * 1.5);
      }
      7% {
         filter: blur($base-size / 3);
      }  
      9% {
         filter: blur($base-size);
      }
      12% {
         filter: blur($base-size / 2);
      }
      18% {
         filter: blur(0);
      }
      22% {
         filter: blur(0);
      }
      30% {
         filter:blur($base-size / 3);
      }
      50% {
         filter: blur(0);
      }
      80% {
         filter: blur($base-size/4);
      }
      100% {
         filter: blur(0);
      }
   }


    @keyframes shine {
        from {
            transform: skewX(10deg);
            opacity: 0;
            left: -20%;
            width: 1rem;
        }
    
        5% {
            opacity: .3;
            width: 2rem;
        }
    
        10% {
            transform: skewX(-15deg);
            opacity: 0;
            left: 120%;
            width: 3rem;
        }
        to { 
            opacity: 0;
        }
    } 
    @keyframes grow {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(2);
        }
    }

    @keyframes main-circles {
        from {
            transform-origin: 50% 50%;
            transform: translate(-50%, -50%) rotate(0deg);
        }
        30% {
            transform-origin: 55% 55%;
            transform: translate(-50%, -50%) rotate(90deg);
        }
        50% {
            transform-origin: 49% 50%;
            transform: translate(-50%, -50%) rotate(75deg);
        }
        70% {
            transform-origin: 45% 45%;
            transform: translate(-50%, -50%) rotate(375deg);
        }
        to {
            transform-origin: 50% 50%;
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }

    @keyframes logo--cyclecolor {
        from { fill: var(--color-teal); }
        30% {
           fill: var(--color-teal);
        }
        32% {
           fill: var(--color-pale-red);
        }
        50% {
           fill: var(--color-pale-red);
        }
        52% {
           fill: var(--color-pink);
        }
     
        70% {
           fill: var(--color-pink);
        }
        72% {
           fill: var(--color-teal);
        }
        to {
            fill: var(--color-teal);
        }
     }
    @keyframes logo--logo--wave {
        0% {
           transform: scale(0, 0);
           d: path("m -12.726544,122.77506 c 1.220677,0.033 3.8377712,-0.30158 3.8377712,-0.30158 l -4.0477652,2.62909 c 0,0 4.3294541,-2.31105 6.713255,-2.07472 l 4.3761651,0.43384 2.59138581,-0.8563 c 24.50351009,0.13067 124.20922209,0.73738 217.29455209,0.73738 0.35264,8.42203 -6.03554,5.26438 -6.38818,14.26132 -95.61505,0.42078 -204.2479679,-1.08866 -210.4784376,1.31272 l -6.7745288,-4.84043 v 0 l -1.4506434,1.08885 c -5.7236412,-3.30455 -3.7241632,0.85981 -3.7241632,0.85981 0,0 -0.6793,1.15329 -2.080612,0.72834 z");
        }
        5% {
           transform: scale(0, 0);
           d: path("m -12.726544,122.77506 c 1.220677,0.033 3.8377712,-0.30158 3.8377712,-0.30158 l -4.0477652,2.62909 c 0,0 4.3294541,-2.31105 6.713255,-2.07472 l 4.3761651,0.43384 2.59138581,-0.8563 c 24.50351009,0.13067 124.20922209,0.73738 217.29455209,0.73738 0.35264,8.42203 -6.03554,5.26438 -6.38818,14.26132 -95.61505,0.42078 -204.2479679,-1.08866 -210.4784376,1.31272 l -6.7745288,-4.84043 v 0 l -1.4506434,1.08885 c -5.7236412,-3.30455 -3.7241632,0.85981 -3.7241632,0.85981 0,0 -0.6793,1.15329 -2.080612,0.72834 z");
        }
        6% {
           transform: scale(.1, .2);
           d: path("m -12.726544,122.77506 c 1.220677,0.033 3.8377712,-0.30158 3.8377712,-0.30158 l -4.0477652,2.62909 c 0,0 4.3294541,-2.31105 6.713255,-2.07472 l 4.3761651,0.43384 2.59138581,-0.8563 c 24.50351009,0.13067 124.20922209,0.73738 217.29455209,0.73738 0.35264,8.42203 -6.03554,5.26438 -6.38818,14.26132 -95.61505,0.42078 -204.2479679,-1.08866 -210.4784376,1.31272 l -6.7745288,-4.84043 v 0 l -1.4506434,1.08885 c -5.7236412,-3.30455 -3.7241632,0.85981 -3.7241632,0.85981 0,0 -0.6793,1.15329 -2.080612,0.72834 z");
        }
        20% {
           transform: scale(1, .2);
           d: path("m -12.726544,122.77506 c 1.220677,0.033 3.8377712,-0.30158 3.8377712,-0.30158 l -4.0477652,2.62909 c 0,0 4.3294541,-2.31105 6.713255,-2.07472 l 4.3761651,0.43384 2.59138581,-0.8563 c 24.50351009,0.13067 124.20922209,0.73738 217.29455209,0.73738 0.35264,8.42203 -6.03554,5.26438 -6.38818,14.26132 -95.61505,0.42078 -204.2479679,-1.08866 -210.4784376,1.31272 l -6.7745288,-4.84043 v 0 l -1.4506434,1.08885 c -5.7236412,-3.30455 -3.7241632,0.85981 -3.7241632,0.85981 0,0 -0.6793,1.15329 -2.080612,0.72834 z");
        }   
        34% {
           transform: scale(1, .2);
           d: path("m -12.726544,122.77506 c 1.220677,0.033 3.8377712,-0.30158 3.8377712,-0.30158 l -4.0477652,2.62909 c 0,0 4.3294541,-2.31105 6.713255,-2.07472 l 4.3761651,0.43384 2.59138581,-0.8563 c 24.50351009,0.13067 124.20922209,0.73738 217.29455209,0.73738 0.35264,8.42203 -6.03554,5.26438 -6.38818,14.26132 -95.61505,0.42078 -204.2479679,-1.08866 -210.4784376,1.31272 l -6.7745288,-4.84043 v 0 l -1.4506434,1.08885 c -5.7236412,-3.30455 -3.7241632,0.85981 -3.7241632,0.85981 0,0 -0.6793,1.15329 -2.080612,0.72834 z");
        }   
     
        40% {
           transform: scale(1, 1);
           d: path("m -12.726544,122.77506 c 1.220677,0.033 3.8377712,-0.30158 3.8377712,-0.30158 l -4.0477652,2.62909 c 0,0 4.3294541,-2.31105 6.713255,-2.07472 l 4.3761651,0.43384 2.59138581,-0.8563 c 24.50351009,0.13067 124.20922209,0.73738 217.29455209,0.73738 0.35264,8.42203 -6.03554,5.26438 -6.38818,14.26132 -95.61505,0.42078 -204.2479679,-1.08866 -210.4784376,1.31272 l -6.7745288,-4.84043 v 0 l -1.4506434,1.08885 c -5.7236412,-3.30455 -3.7241632,0.85981 -3.7241632,0.85981 0,0 -0.6793,1.15329 -2.080612,0.72834 z");
        }   
     
        72% {
           d: path("m -12.726544,122.77506 c 1.220677,0.033 3.8377712,-0.30158 3.8377712,-0.30158 l -4.0477652,2.62909 c 0,0 4.3294541,-2.31105 6.713255,-2.07472 l 4.3761651,0.43384 2.59138581,-0.8563 c 24.50351009,0.13067 124.20922209,0.73738 217.29455209,0.73738 0.35264,8.42203 -6.03554,5.26438 -6.38818,14.26132 -95.61505,0.42078 -204.2479679,-1.08866 -210.4784376,1.31272 l -6.7745288,-4.84043 v 0 l -1.4506434,1.08885 c -5.7236412,-3.30455 -3.7241632,0.85981 -3.7241632,0.85981 0,0 -0.6793,1.15329 -2.080612,0.72834 z");
        }
        74% {
           d: path("m -12.726544,122.77506 c 1.220677,0.033 3.8377712,-0.30158 3.8377712,-0.30158 l -4.0477652,2.62909 c 0,0 4.3294541,-2.31105 6.713255,-2.07472 l 4.3761651,0.43384 2.59138581,-0.8563 C 31.365902,112.48679 69.115837,119.65393 218.03882,119.65393 c 0.35264,8.42203 -6.03554,8.95322 -6.38818,17.95016 -148.883732,0.6552 -204.2479679,-1.08866 -210.4784376,1.31272 l -6.7745288,-4.84043 v 0 l -1.4506434,1.08885 c -5.7236412,-3.30455 -3.7241632,0.85981 -3.7241632,0.85981 0,0 -0.6793,1.15329 -2.080612,0.72834 z");
        }
        76% {
           d: path("m -12.726544,122.77506 c 1.220677,0.033 3.8377712,-0.30158 3.8377712,-0.30158 l -4.0477652,2.62909 c 0,0 4.3294541,-2.31105 6.713255,-2.07472 l 4.3761651,0.43384 c 0,0 -1.2840651,1.54165 16.4579699,-9.46307 29.745487,-18.450015 45.412586,28.63796 195.256958,8.658 0.35264,8.42203 2.13547,5.95053 1.78283,14.94747 C 70.4744,152.13163 26.583074,113.35035 17.290926,122.6425 c -6.882028,6.88203 -22.8932524,11.43388 -22.8932524,11.43388 v 0 l -1.4506434,1.08885 c -5.7236412,-3.30455 -3.7241632,0.85981 -3.7241632,0.85981 0,0 -0.6793,1.15329 -2.080612,0.72834 z");
        }
        78% {
           d: path("m -8.0650617,122.91349 c 1.2206774,0.033 3.8377712,-0.30158 3.8377712,-0.30158 l -4.047765,2.62909 c 0,0 4.3993905,-2.69471 6.7132548,-2.07472 12.1561327,3.25723 13.0087417,0.13831 17.2314157,0.14815 17.5,0.0408 -13.6288464,-23.645346 30.121157,-23.645346 35.002816,0 46.411626,33.351816 164.077038,22.987536 0.35264,8.42203 0.35264,8.42203 0,17.41897 -136.002076,7.23812 -146.536697,-22.9065 -164.077038,-22.9065 -18.307193,0 12.964043,20.84484 -28.056458,20.84484 -6.93767,0 -8.6560027,-1.1145 -18.67515811,-3.79912 -1.84349249,-0.49396 -1.45064339,1.08885 -1.45064339,1.08885 -5.7236408,-3.30455 -3.7241634,0.85981 -3.7241634,0.85981 0,0 -0.6792997,1.15329 -2.0806114,0.72834 z");
        }
        80% {
           d: path("m -8.0650617,122.91349 c 1.2206774,0.033 3.8377712,-0.30158 3.8377712,-0.30158 0,0 -5.1351016,3.04059 3.1136737,3.04059 7.7134339,0 13.7490358,-14.13711 24.8563868,-14.13711 12.124323,0 8.408006,11.49523 25.857355,11.53589 17.5,0.0408 -22.359014,-30.497804 21.390989,-30.497804 35.002816,0 43.407586,30.103144 138.876696,30.103144 0.35264,8.42203 0.35264,8.42203 0,17.41897 -112.146194,0 -121.336355,-30.02211 -138.876696,-30.02211 -18.307193,0 21.694056,27.58454 -19.32629,27.6973 -19.559149,0.0538 -15.928093,-11.12022 -26.303161,-10.98047 -13.210387,0.17795 -11.285651,18.82085 -22.0009217,15.9497 -6.3838914,-1.71056 -5.9833082,-6.20436 -5.9833082,-6.20436 0,0 -4.1723837,0.80111 -5.5736954,0.37616 z");
        }
        82% {
           d: path("m -8.0650617,122.91349 c 1.2206774,0.033 3.8377712,-0.30158 3.8377712,-0.30158 0,0 -5.1350895,3.05471 3.1136737,3.04059 26.2499998,-0.0449 3.4254954,-29.713758 34.2516998,-29.321343 31.392723,0.399627 18.510813,23.799023 35.960162,23.839683 17.5,0.0408 -16.708639,-34.74152 27.041364,-34.74152 35.002821,0 49.860601,37.2273 113.728201,37.2273 0.35264,8.42203 0.35264,8.42203 0,17.41897 -69.77794,0.5314 -96.18786,-37.14627 -113.728201,-37.14627 -26.249998,0 16.043681,31.82826 -24.976665,31.94102 -43.749837,0.12026 -14.558534,-23.57855 -36.405968,-23.28426 -13.210387,0.17795 12.059246,31.08949 -31.3962347,31.13393 -6.609087,0.007 -5.9833082,-6.20436 -5.9833082,-6.20436 0,0 -4.1723837,0.80111 -5.5736954,0.37616 z");
        }
        84% {
           d: path("m -8.0650617,122.91349 c 1.2206774,0.033 3.8377712,-0.30158 3.8377712,-0.30158 0,0 -0.6607314,2.62222 7.5880318,2.6081 26.2499997,-0.0449 15.5439247,-44.046092 46.3701287,-43.653677 31.392723,0.399627 19.678361,34.176497 37.12771,34.217157 17.5,0.0408 -11.847843,-44.46861 31.90216,-44.46861 35.00282,0 27.23947,51.34174 91.10707,51.34174 0.35264,8.42203 0.35264,8.42203 0,17.41897 -69.77794,0.5314 -73.56673,-51.260709 -91.10707,-51.260709 -26.249998,0 4.71673,42.264319 -30.283267,42.264319 -43.750002,0 -15.280276,-34.552231 -37.12771,-34.257942 -13.210387,0.177947 -4.533541,45.854312 -47.9890217,45.898752 -6.609087,0.007 -5.9833082,-6.20436 -5.9833082,-6.20436 0,0 -4.1723837,0.80111 -5.5736954,0.37616 z");
        }
        86% {
           d: path("m -0.13219077,122.32865 c 7.73325657,1.26675 7.36930167,1.09814 21.61809277,1.24037 17.372254,0.17342 7.153363,3.37728 26.189436,3.34471 26.25,-0.0449 -25.880933,-59.241072 26.619066,-59.241072 43.750006,0 17.078807,45.825102 34.528156,45.865762 17.5,0.0408 -10.142195,-42.22354 33.60781,-42.22354 35.00282,0 36.85055,50.66727 67.43744,51.34174 0.35264,8.42203 0.35264,8.42203 0,17.41897 -42.5729,0.32422 -49.8971,-51.260709 -67.43744,-51.260709 -26.25,0 1.39219,42.264319 -33.60781,42.264319 -43.750002,0 -12.680722,-46.200831 -34.528156,-45.906542 -26.115486,0.351781 16.836415,59.196672 -26.619066,59.241072 -24.637456,0.0252 -15.814333,-3.21105 -25.147589,-3.21105 -12.8351247,0 -15.8848231,-2.05689 -22.65993978,-1.37403 z");
        }
        88% {
           d: path("m -0.13219077,122.32865 c 17.54081277,0 -12.07432923,-42.431992 23.00545577,-42.081807 37.396639,0.373314 3.902922,51.587927 30.152923,51.543017 26.25,-0.0449 -17.152191,-92.568155 35.347808,-92.568155 43.750004,0 16.057144,81.073895 33.506494,81.114555 17.5,0.0408 -12.93394,-62.157831 30.81606,-62.157831 35.00282,0 26.58437,63.803721 57.17126,64.478191 0.35264,8.42203 0.35264,8.42203 0,17.41897 -42.5729,0.32422 -39.63092,-64.39716 -57.17126,-64.39716 -26.25,0 4.18394,62.19861 -30.81606,62.19861 -43.750003,0 -11.65906,-81.449624 -33.506494,-81.155335 -26.115486,0.351781 8.107673,92.523755 -35.347808,92.568155 -43.9516185,0.0449 -13.726551,-48.7631 -31.229442,-47.61105 -12.8074121,0.84299 13.152594,38.14984 -21.92893678,38.14984 z");
        }
        92% {
           d: path("m -0.13219077,122.32865 c 17.54081277,0 -7.04064723,-66.371718 28.04055277,-66.219008 44.045248,0.19173 5.258306,82.101938 31.508307,82.057028 26.25,-0.0449 -17.500001,-101.333341 34.999998,-101.333341 43.750003,0 17.550653,89.043561 35.000003,89.084221 17.5,0.0408 -8.75,-71.584221 35,-71.584221 35.00282,0 27.91038,67.886111 45.45114,68.323291 0.35264,8.42203 0.35264,8.42203 0,17.41897 -34.58252,0 -27.9108,-68.24226 -45.45114,-68.24226 -26.25,0 0,71.625 -35,71.625 -43.750001,0 -13.15257,-89.41929 -35.000003,-89.125001 C 68.301181,54.68511 102.87215,155.62227 59.416669,155.66667 15.465051,155.71158 44.532581,79.858029 26.991817,79.858029 c -17.5407676,0 7.957523,59.970621 -27.12400778,59.970621 z");
         }
     
        96% {
           d: path("m -0.13219077,122.32865 c 17.54081277,0 5.04816607,-69.74424 40.12861177,-70.020384 58.019404,-0.456714 5.34108,96.486644 31.591081,96.441734 26.25,-0.0449 -13.795834,-122.503702 38.704168,-122.500004 57.59062,0.0041 12.25898,104.918564 29.70833,104.959224 17.5,0.0408 -6.12735,-87.920308 37.61024,-86.878468 53.43747,1.272894 14.71681,77.888688 32.25757,78.325868 0.35264,8.42203 0.35264,8.42203 0,17.41897 -34.58252,0 -15.46446,-78.033185 -31.63192,-78.033185 C 151.98589,62.042405 175,148.75 140,148.75 96.250002,148.75 138.80952,42.479902 112.56842,43.16459 93.698022,43.65696 115.04298,166.2056 71.587502,166.25 27.635884,166.29491 59.896026,70.091901 39.996421,69.849031 22.456959,69.634966 34.94934,139.82865 -0.13219078,139.82865 Z");
        }
     
        100% {
           d: path("M -0.13219077,122.32865 C 17.408622,122.32865 -0.3764458,52.155556 34.704754,52.308266 78.750002,52.499996 43.750001,148.79491 70.000002,148.75 96.250002,148.70509 52.500001,26.249996 105,26.249996 c 43.75,0 17.55065,104.918564 35,104.959224 17.5,0.0408 -8.75,-87.459224 35,-87.459224 35.00282,0 17.32705,78.469444 34.86781,78.906624 0.35264,8.42203 0.35264,8.42203 0,17.41897 -34.58252,0 -17.32747,-78.825593 -34.86781,-78.825593 -26.25,0 0,87.500003 -35,87.500003 -43.749998,0 -8.75,-105.040767 -35,-105.000004 C 78.882177,43.790555 113.45548,166.2056 70.000002,166.25 26.048384,166.29491 52.245518,69.849031 34.704754,69.849031 c -17.540768,0 0.244586,69.979619 -34.83694478,69.979619 z");
        }
     }
     @keyframes logo--logo--bounce {
        0% {
           d: path("M -0.13219077,122.32865 C 17.408622,122.32865 -0.3764458,52.155556 34.704754,52.308266 78.750002,52.499996 43.750001,148.79491 70.000002,148.75 96.250002,148.70509 52.500001,26.249996 105,26.249996 c 43.75,0 17.55065,104.918564 35,104.959224 17.5,0.0408 -8.75,-87.459224 35,-87.459224 35.00282,0 17.32705,78.469444 34.86781,78.906624 0.35264,8.42203 0.35264,8.42203 0,17.41897 -34.58252,0 -17.32747,-78.825593 -34.86781,-78.825593 -26.25,0 0,87.500003 -35,87.500003 -43.749998,0 -8.75,-105.040767 -35,-105.000004 C 78.882177,43.790555 113.45548,166.2056 70.000002,166.25 26.048384,166.29491 52.245518,69.849031 34.704754,69.849031 c -17.540768,0 0.244586,69.979619 -34.83694478,69.979619 z");
        }
        0.5% {
           d: path("M 1.4533946e-8,131.25 C 17.54081,131.25 -0.37645086,52.155561 34.704749,52.308271 c 44.04525,0.19173 9.04525,96.486649 35.29525,96.441739 26.25,-0.0449 -17.5,-122.500009 35.000001,-122.500009 43.75,0 17.55065,104.918569 35,104.959229 17.5,0.0408 -8.75,-87.459219 35,-87.459219 35.00282,0 17.32705,78.469439 34.86781,78.906619 0.35264,8.42203 0.35264,8.42203 0,17.41897 -34.58252,0 -17.32747,-78.825599 -34.86781,-78.825599 -26.25,0 0,87.500009 -35,87.500009 -43.750001,0 -8.75,-105.040769 -35,-104.999999 -26.117831,0.0406 8.45548,122.455599 -35.000001,122.499999 -43.95162,0.0449 -17.75449,-96.400969 -35.29525,-96.400969 C 17.163979,69.849041 35.08153,148.75 1.4533946e-8,148.75 Z");
        }
        1% {
           d: path("m -0.13219086,139.82866 c 17.54080986,0 -0.057289,-78.953559 35.02391086,-78.800849 44.04525,0.19173 8.858279,87.767109 35.108279,87.722199 26.25,-0.0449 -17.5,-122.500009 35.000001,-122.500009 43.75,0 17.55065,104.918569 35,104.959229 17.5,0.0408 -8.75,-87.459219 35,-87.459219 35.00282,0 17.32705,78.469439 34.86781,78.906619 0.35264,8.42203 0.35264,8.42203 0,17.41897 -34.58252,0 -17.32747,-78.825599 -34.86781,-78.825599 -26.25,0 0,87.500009 -35,87.500009 -43.750001,0 -8.75,-105.040769 -35,-104.999999 -26.117831,0.0406 8.45548,122.455599 -35.000001,122.499999 C 26.048379,166.29491 52.43248,78.568581 34.89172,78.568581 17.35095,78.568581 35.08153,157.5 1.4533946e-8,157.5 Z");
        }
        1.5% {
           d: path("M 1.4533946e-8,131.25 C 17.54081,131.25 -0.18947982,69.847291 34.89172,70.000001 78.93697,70.191731 43.750002,157.54491 70.000002,157.5 96.250002,157.4551 52.499999,26.250001 105,26.250001 c 43.75,0 17.55065,104.918569 35,104.959229 17.5,0.0408 -8.75,-87.459219 35,-87.459219 35.00282,0 17.32705,78.469439 34.86781,78.906619 0.35264,8.42203 0.35264,8.42203 0,17.41897 -34.58252,0 -17.32747,-78.825599 -34.86781,-78.825599 -26.25,0 0,87.500009 -35,87.500009 -43.750001,0 -8.75,-105.040769 -35,-104.999999 C 78.882169,43.790611 113.45548,174.9556 70.000002,175 26.048382,175.0449 52.43248,87.500001 34.89172,87.500001 17.35095,87.500001 35.08153,148.75 1.4533946e-8,148.75 Z");
        }
        2% {
           d: path("M 1.4533946e-8,122.5 C 17.54081,122.5 -0.18947978,61.097291 34.89172,61.250001 78.93697,61.441731 43.750002,166.29491 70.000002,166.25 96.250002,166.2051 52.499998,35.000001 105,35.000001 c 43.75,0 17.55065,96.168569 35,96.209229 17.5,0.0408 -8.75,-87.459219 35,-87.459219 35.00282,0 17.32705,78.469439 34.86781,78.906619 0.35264,8.42203 0.35264,8.42203 0,17.41897 -34.58252,0 -17.32747,-78.825599 -34.86781,-78.825599 -26.25,0 0,87.500009 -35,87.500009 -43.750001,0 -8.75,-96.290779 -35,-96.250009 C 78.882168,52.540601 113.45548,183.7056 70.000002,183.75 26.048382,183.7949 52.43248,78.568581 34.89172,78.568581 c -17.54077,0 0.05762,61.260079 -35.02391086,61.260079 z");
        }
        2.5% {
           d: path("M 1.4533946e-8,122.5 C 17.54081,122.5 -0.18947974,52.347291 34.89172,52.500001 78.93697,52.691731 43.750002,157.54491 70.000002,157.5 96.250002,157.4551 52.499997,43.750001 105,43.750001 c 43.75,0 17.55065,96.209339 35,96.249999 17.5,0.0408 -8.75,-96.249989 35,-96.249989 35.00282,0 17.32705,78.469439 34.86781,78.906619 0.35264,8.42203 0.35264,8.42203 0,17.41897 -34.58252,0 -17.32747,-78.825599 -34.86781,-78.825599 -26.25,0 0,96.249999 -35,96.249999 -43.750002,0 -8.75,-96.290769 -35,-96.249999 C 78.882167,61.290601 113.45548,174.9556 70.000002,175 26.048382,175.0449 52.43248,70.000001 34.89172,70.000001 c -17.54077,0 0.05762,69.828659 -35.02391086,69.828659 z");
        }
        3% {
           d: path("M 1.4533946e-8,122.5 C 17.54081,122.5 -0.18947974,52.347291 34.89172,52.500001 78.93697,52.691731 43.750002,148.79491 70.000002,148.75 96.250002,148.7051 52.499996,35.000001 105,35.000001 c 43.75,0 17.55065,113.709339 35,113.749999 17.5,0.0408 -8.75,-96.249999 35,-96.249999 35.00282,0 17.32705,69.719449 34.86781,70.156629 0.35264,8.42203 0.35264,8.42203 0,17.41897 -34.58252,0 -17.32747,-70.075599 -34.86781,-70.075599 -26.25,0 0,96.249999 -35,96.249999 -43.750003,0 -8.75,-113.790769 -35,-113.749999 C 78.882166,52.540601 113.45548,166.2056 70.000002,166.25 26.048382,166.2949 52.43248,70.000001 34.89172,70.000001 c -17.54077,0 0.05762,69.828659 -35.02391086,69.828659 z");
        }
        3.5% {
           d: path("M 1.4533946e-8,122.5 C 17.54081,122.5 -0.18947974,52.347291 34.89172,52.500001 78.93697,52.691731 43.750002,148.79491 70.000002,148.75 96.250002,148.7051 52.499995,26.250001 105,26.250001 c 43.75,0 17.55065,113.709339 35,113.749999 17.5,0.0408 -8.75,-78.749999 35,-78.749999 35.00282,0 17.83563,69.562819 35.37639,69.999999 0.35264,8.42203 -0.64821,8.50306 -1.00085,17.5 C 174.79302,148.75 192.54034,78.568581 175,78.568581 148.75,78.568581 175,157.5 140,157.5 96.249996,157.5 131.25,43.709241 105,43.750011 78.882166,43.790611 113.45548,166.2056 70.000002,166.25 26.048382,166.2949 52.43248,70.000001 34.89172,70.000001 c -17.54077,0 0.05762,69.828659 -35.02391086,69.828659 z");
        }
        4% {
           d: path("M 1.4533946e-8,122.5 C 17.54081,122.5 -0.18947974,52.347291 34.89172,52.500001 78.93697,52.691731 43.750002,148.79491 70.000002,148.75 96.250002,148.7051 52.499995,26.250001 105,26.250001 c 43.75,0 17.55065,104.959339 35,104.999999 17.5,0.0408 -8.75,-78.749999 35,-78.749999 35.00282,0 17.32705,87.138419 34.86781,87.575599 0.35264,8.42203 0.89779,8.42746 0.54515,17.4244 -34.58252,0 -17.87262,-87.499999 -35.41296,-87.499999 -26.25,0 0,78.749999 -35,78.749999 -43.750005,0 -8.75,-105.040759 -35,-104.999989 C 78.882166,43.790611 113.45548,166.2056 70.000002,166.25 26.048382,166.2949 52.43248,70.000001 34.89172,70.000001 c -17.54077,0 0.05762,69.828659 -35.02391086,69.828659 z");
        }
        4.5% {
           d: path("M 1.4533946e-8,122.5 C 17.54081,122.5 -0.18947974,52.347291 34.89172,52.500001 78.93697,52.691731 43.750002,148.79491 70.000002,148.75 96.250002,148.7051 52.499995,26.250001 105,26.250001 c 43.75,0 17.55065,104.959339 35,104.999999 17.5,0.0408 -8.75,-87.499999 35,-87.499999 35.00282,0 18.10808,87.062819 35.64884,87.499999 0.35264,8.42203 0.5541,8.50306 0.20146,17.5 -34.58252,0 -18.30996,-87.499999 -35.8503,-87.499999 -26.25,0 0,87.499999 -35,87.499999 -43.750005,0 -8.75,-105.040759 -35,-104.999989 C 78.882166,43.790611 113.45548,166.2056 70.000002,166.25 26.048382,166.2949 52.43248,70.000001 34.89172,70.000001 c -17.54077,0 0.05762,69.828659 -35.02391086,69.828659 z");
        }
        5% {
           d: path("M -0.13219077,122.32865 C 17.408622,122.32865 -0.3764458,52.155556 34.704754,52.308266 78.750002,52.499996 43.750001,148.79491 70.000002,148.75 96.250002,148.70509 52.500001,26.249996 105,26.249996 c 43.75,0 17.55065,104.918564 35,104.959224 17.5,0.0408 -8.75,-87.459224 35,-87.459224 35.00282,0 17.32705,78.469444 34.86781,78.906624 0.35264,8.42203 0.35264,8.42203 0,17.41897 -34.58252,0 -17.32747,-78.825593 -34.86781,-78.825593 -26.25,0 0,87.500003 -35,87.500003 -43.749998,0 -8.75,-105.040767 -35,-105.000004 C 78.882177,43.790555 113.45548,166.2056 70.000002,166.25 26.048384,166.29491 52.245518,69.849031 34.704754,69.849031 c -17.540768,0 0.244586,69.979619 -34.83694478,69.979619 z");
        }
     }
     @keyframes logo--logo--pulsein {
        0% {
           opacity: 0;
           transform: scale(.6);
        }
        50% {
           opacity: 1;
           transform: scale(1);
        }
        75% {
           transform: scale(.95);
        }
        100% {
           transform: scale(1);
        }
     }

     @keyframes logo--wordmark--bouncein {
        from {
           transform: translateX(-50%);
           opacity: 0;
        }
        30% {
           transform: translateX(5%);
           opacity: .5;
        }
        50% {
           transform: translateX(-5%);
           opacity: .7;
        }
        65% {
           transform: translateX(2.5%);
           opacity: .9;
        }
        75% {
           transform: translateX(-1%);
           opacity: 1;
        }
        80% {
            transform: translateX(0);
            opacity: 1;
        }
        100% {
           opacity: 1;
        }
     }     
}
