@include critical {
    :root {
        --color-background: #{color(black)};
        --color-background-secondary: #{color(blackish)};
        --color-background-disabled: #{color(dark-grey)};
        --color-text: #{color(whiteish)};
        --color-text-secondary: #{color(white)};
        --color-text-disabled: #{color(grey)};
        --color-primary: #{color(pink)};
        --color-secondary: #{color(green)};
        --color-tertiary: #{color(blue)};
        --color-quaternary: #{color(orange)};
    }
    html body {
        padding: 0;
        margin: 0;
        
        * {
            box-sizing: border-box;
        }
    }
}
